
# ignorer tout les fichiers qui ont comme extension .txt
*.txt

# ignorer le fichier excel.xlsx
excel.xlsx


# ignorer tout ce qui se trouvent dans le dossier log
log/* 
image/*
exo1/*
couleur.html


